@{
    ViewData["Title"] = "Index";
}

<h4 id="msg"></h4>

<p class="title"> My Todo List </p>
@(
Html.Kendo().Grid<Todo.Domain.TodoList.TodoModel>()
    .Name("grid")
    .Editable(editable => editable.Mode(GridEditMode.InCell))
    .Events(events => events
        .Edit("onEdit")
    )
    .ToolBar(tools =>
        {
            tools.Create();
            tools.Save();
        })
    .Pageable()
    .Sortable()
    .Groupable()
    .Events(events => events.DataBound("onDataBound"))
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(10)
        .Model(model =>
        {
            model.Id(p => p.id);

        })
        .Events(events => events.Error("onError"))
        .Read(read => read.Action("Select", "TodoList"))
        .Create(update => update.Action("Create", "TodoList"))
        .Update(update => update.Action("Update", "TodoList"))
        .Destroy(update => update.Action("Destroy", "TodoList"))
    )
    .Columns(columns =>
    {
        columns.Bound(p => p.id).Hidden();
        columns.Bound(p => p.name).Title("Name").Title("Title");
        columns.Bound(p => p.due_date).Format("{0:dd-MM-yyyy}").Title("Date");
        columns.Bound(p => p.desc).Title("Description");
        columns.Bound(p => p.done).Title("Is done");//.ClientTemplate("<span id='badge_#=id#' class='badgeTemplate'></span>");
        columns.Command(command => { command.Destroy(); }).Width(250);
    })
)

@section scripts {
    <script type="text/javascript">

        function onDataBound(e) {
            
            /*var grid = this;
            grid.table.find("tr").each(function () {
                var dataItem = grid.dataItem(this);
                var themeColor = dataItem.done ? 'success' : 'error';
                var text = dataItem.done ? 'done' : 'not yet';

                $(this).find('script').each(function () {
                    eval($(this).html());
                });

                $(this).find(".badgeTemplate").kendoBadge({
                    themeColor: themeColor,
                    text: text,
                });

                kendo.bind($(this), dataItem);
            });*/
        }

        function onEdit(e) {
            $('input#done').removeAttr('data-val-required');
            var container = e.container;
            container.css("font-weight", "500");
            container.css( "color", "blue" );
        }

        function onError(e) {
            if (e.errors) {
                var message = "Errors:\n";
                if (e.status == "customerror") {
                    $.each(e.errors, function (key, value) {
                        message += value + "\n";
                    });
                }
                else {
                    message += "Generic server error." + "\n";
                }
                
                alert(message);
            }
        }
    </script>
}

<style>
    .k-table-td .text-box {
        border: none;
        outline: none;
    }
</style>
