
@{
}

<style>
    .nav-bar {
        margin-top: 15px;
        width 100%;
        display: flex;
        justify-content: space-around;
    }

    .nav-bar div {
        display: flex;
        align-items: baseline;
    }

    .nav-bar div span {
        font-size: 20px;
        margin-right: 15px;
    }

    .nav-bar div ul li {
        list-style-type: none;
        display: inline;
        margin-right: 10px;
    }
</style>

<div class="nav-bar">
    <div>
        <span> HR </span>
        <ul>
            <li>
                <a href="#">Admin</a>
            </li>
            <li>
                <a asp-action="Staff" asp-controller="HR">Staff</a>
            </li>
            <li>
                <a asp-action="Shop" asp-controller="HR">Shop</a>
            </li>
            <li>
                <a asp-action="Customer" asp-controller="HR">Customer</a>
            </li>
        </ul>
    </div>

    <div>
        <span> Package </span>
        <ul>
            <li>
                <a asp-action="Index" asp-controller="Package">Shipping</a>
            </li>
            <li>
                <a asp-action="Order" asp-controller="Package">Order</a>
            </li>
        </ul>
    </div>
</div>
